* {
    transition: all 40ms;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    color: black;
    max-width: 100%;
    overflow-y: scroll;
    margin: 0;
}
body {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior-y: none;
    margin: 0;
    background: linear-gradient(#ffcd01, #ee1cc0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}